{% extends 'base.html' %}
{% load static %}
{% block content %}
<main id="main">

  <!-- ======= Intro Single ======= -->
  <section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h1 class="title-single">Our Amazing Properties</h1>
            <span class="color-text-a">Properties</span>
          </div>
        </div>
        <div class="col-md-12 col-lg-4">
          <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="index.html">Home</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                Properties
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section><!-- End Intro Single-->

  <!-- ======= Property Grid ======= -->
  <section class="property grid">
    <div class="container">
      <div class="row">
        {% if properties %}

        {% for property in properties %}

        <div class="col-md-4">
          <div class="card-box-a card-shadow">
            <div class="img-box-a">
              <img src="{{property.photo.url}}" alt="" class="img-a" width="100%" height="400">
            </div>
            <div class="card-overlay">
              <div class="card-overlay-a-content">
                <div class="card-header-a">
                  <h2 class="card-title-a">
                    <a href="#">{{ property.name }}</a>
                  </h2>
                </div>
                <div class="card-body-a">
                  <div class="price-box d-flex">
                    <span class="price-a">{{ property.ptype }}| $ {{ property.price }}</span>
                  </div>
                  <a href="{% url 'listingsingle' property.id %}" class="link-a">Click here to view
                    <span class="bi bi-chevron-right"></span>
                  </a>
                </div>
                <div class="card-footer-a">
                  <ul class="card-info d-flex justify-content-around">
                    <li>
                      <h4 class="card-info-title">Area</h4>
                      <span>{{ property.area }}m
                        <sup>2</sup>
                      </span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Beds</h4>
                      <span>{{ property.bed }}</span>
                    </li>
                    <li>
                      <h4 class="card-info-title">{{ property.bath }}</h4>
                      <span>4</span>
                    </li>
                    <li>
                      <h4 class="card-info-title">{{ property.garage }}</h4>
                      <span>1</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}

        {% else %}

            <div class="col-md-4">
              <h4>No property uploaded yet</h4>
            </div>

      {% endif %}
      </div>
    </div>
  </section><!-- End Property Grid Single-->

</main><!-- End #main -->

{% endblock %}